<div>
  Welcome to newForm . This is {{myName}}
  <!-- The below line wont work becase interpolation can only be applied to string .disabled is a boolean DOM property . -->
  <!-- <input disabled = {{isDisable}} type = "text" value = "Pradeep"> -->
  <!-- The below line wont work becase disabled is a boolean DOM property . -->
  <!-- <input disabled = "false" type = "text" value = "Pradeep">  -->
  <!-- The below line work because there is no data binding method used here and isDisable is not defined here -->
  <!-- <input disabled = isDisable type = "text" value = "Pradeep">  -->
  <input [disabled] = isDisable type = "text" value = "Pradeep">
</div>
